<!DOCTYPE html>
  <head>
  </head>

  <body>
    <h1>Caesar Cypher</h1>

    <p>Enter the text you want to cypher and press "go!"</p>
    <form>
      <label type='text' name='inputString'>Secret Phrase</label>
      <input type='text' name='inputString'  />
      <label type='number' name='shift'>Shift Factor</label>
      <input type='number' name='shift' min="1" max="25" value="1" />

      <label type='radio' name='sens' value='Cyper'>Cypher</label>
      <input type='radio' name='sens' value='Cypher' checked />
      <label type='radio' name='sens' value='Decypher'>Decypher</label>
      <input type='radio' name='sens' value='Decypher' />

      <input type='submit' value='Go!'/>
    </form>


  <%if defined? cyphered and cyphered != ""%>
    <p>The secret phrase is "<%=cyphered%>"</p>
  <%end%>


  </body>

</html>
